<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142876190817-p21dq9qmn55u78nenu2je0ubclg5gqnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142876190817-p21dq9qmn55u78nenu2je0ubclg5gqnq</string>
	<key>API_KEY</key>
	<string>AIzaSyCaUrAU9-cehDnWxM21dTEpyXpey6luPIk</string>
	<key>GCM_SENDER_ID</key>
	<string>142876190817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prognosify.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>prognosify-63e02</string>
	<key>STORAGE_BUCKET</key>
	<string>prognosify-63e02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142876190817:ios:1bd4f485dfcb299f9f6220</string>
</dict>
</plist>